.header{
  background-color: #ffff;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #44B6AE;;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-left: 17px;
}

a.nav-link{
  font-size: 15px;
  color: #44B6AE;
}

a.nav-link:hover{
  color: black;
  font-size: 17px;
  text-decoration:underline;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

img{
  width: 55px;
}
