footer{
    position:fixed;
    bottom: 0;
    background-color: #44B6AE;
    color: #FFF;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 55px;
    left:0;
    font-size: 15px;
}
