<div>
    <footer>&copy; 2022 Bula Digital </footer>
  </div>


  <!-- <footer class="footer" *ngIf="usuarioLogado && usuarioLogado.user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 assinatura">-->
            <!--<img src="img/logo/sgi-tiny.png" alt="logo" class="logo-default">-->
            <!--</div>-->
            <!-- <div class="col-md-6 text-center">
                <img class="footer-logo" src="img/logo/governo-ms.png" alt="Sefaz">
            </div>
            <div class="col-md-6 text-center">
                <p class="copyright">© 2020 SEFAZ - Todos direitos reservados<br>
                    Data Publicação: {{dataPublicacao | date: 'dd/MM/yyyy HH:mm'}}<br>
                    Versão: {{versao}}</p>
            </div>
        </div>
    </div>
</footer> --> 