<!--<h1 id="tableLabel">Bula Digital</h1>

<p>A bula digital é responsável por simplificar e compartilhar as informações mais relevantes dos medicamentos, de maneira simples e de fácil acesso. </p>

<p *ngIf="!bulas"><em>Loading...</em></p>
<div>
  <input placeholder="Insira o nome do medicamento..." [(ngModel)]="pesquisa" />
  <button (click)="pesquisar()"> pesqusiar</button>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="bulas">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Fabricante</th>
      <th>Data</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bula of bulas">
      <td>{{ bula.nomeProduto }}</td>
      <td>{{ bula.razaoSocial }}</td>
      <td>{{ bula.data }}</td>
      <td>
        <a href="https://consultas.anvisa.gov.br/api/consulta/medicamentos/arquivo/bula/parecer/{{bula.idBulaPacienteProtegido}}/?Authorization="
           class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Download</a>
      </td>
    </tr>
  </tbody>
</table>-->



<div class="portlet light borded">
  <div class="portlet-title">
    <div class="actions">
      <div class="col-md-12">


        <div class="col-md-6">
          <input placeholder="Insira o nome do medicamento..." [(ngModel)]="pesquisa" />
          <button (click)="pesquisar()">Pesquisar </button>
        </div>

        <div class="col-md-6 input-icon pull-right">
          <i class="icon-magnifier"></i>
          <input type="text" class="form-control input-circle" placeholder="Filtrar...." name="filter"
                 [(ngModel)]="filter">
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <hr />
    </div>
  </div>

  <div class="portlet-body">
    <div class="col-md-12">
      <div class="dataTables_wrapper no-footer">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="dataTables_length">
              <label>Resultados por página:</label>
              <select name="itensPorPagina"
                      class="form-control input-sm input-xsmall input-inline input-circle"
                      [(ngModel)]="itensPorPagina">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="-1">All</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
          </div>
        </div>

        <div>
          <table class="table table-striped table-hover no-footer" role="grid">
            <thead>
              <tr>
                <th *ngFor="let item of filtroCabecalho()" class="cursor-pointer"
                    (click)="sort(item.label)">
                  {{item.nome}}
                  <span *ngIf="key === item.label">{{!reverse ? '▲' : '▼'}}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bula of bulas ">
                <th *ngIf="cabecalho[0].exibe">{{bula.nomeProduto}}</th>
                <td *ngIf="cabecalho[1].exibe">{{bula.razaoSocial}}</td>
                <td *ngIf="cabecalho[2].exibe">{{bula.data | date: 'dd/MM/yyyy'}}</td>
                <td *ngIf="cabecalho[3].exibe">
                  <a href="https://consultas.anvisa.gov.br/api/consulta/medicamentos/arquivo/bula/parecer/{{bula.idBulaPacienteProtegido}}/?Authorization="
                     class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Download</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--<div class="row dataTables_paginate paging_bootstrap_number">
      <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Anterior"
                           nextLabel="Próximo"></pagination-controls>
    </div>-->
  </div>
</div>
