<div class="portlet light borded">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-settings font-dark"></i>
      <span class="caption-subject font-black-haze bold uppercase">Consulta por categoria</span>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <select class="form-control" [(ngModel)]="numCategoria" (ngModelChange)="listarMedicamentos()">
        <option value="0" disabled selected>Selecione categoria</option>
        <option value="1">Biológico</option>
        <option value="2">Dinamizado</option>
        <option value="3">Específico</option>
        <option value="4">Fitoterápico</option>
        <option value="5">Genérico</option>
        <option value="6">Novo</option>
        <option value="7">Produto de terapia avançada</option>
        <option value="8">Radiodfármaco e similar</option>
      </select>
      <br>
      <div class="dataTables_wrapper no-footer">
        <table class="table table-striped table-hover no-footer" role="grid">
          <thead>
            <tr>
              <th *ngFor="let item of filtroCabecalho()" class="cursor-pointer"
                  (click)="sort(item.label)">
                {{item.nome}}
                <span *ngIf="key === item.label">{{!reverse ? '▲' : '▼'}}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bula of bulas | sortByPipe: key: reverse | filter:filter | paginate: {
                itemsPerPage: itensPorPagina,
                currentPage: pagina,
                totalItems: total
              };">
              <th *ngIf="cabecalho[0].exibe">{{bula.nomeProduto.toUpperCase()}}</th>
              <td *ngIf="cabecalho[1].exibe">{{bula.razaoSocial}}</td>
              <td *ngIf="cabecalho[2].exibe">{{bula.data | date: 'dd/MM/yyyy'}}</td>
              <td *ngIf="cabecalho[3].exibe">
                <a href="https://consultas.anvisa.gov.br/api/consulta/medicamentos/arquivo/bula/parecer/{{bula.idBulaPacienteProtegido}}/?Authorization="
                   class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Download</a>
              </td>
              <td *ngIf="cabecalho[4].exibe">
                <a href="https://consultas.anvisa.gov.br/api/consulta/medicamentos/arquivo/bula/parecer/{{bula.idBulaProfissionalProtegido}}/?Authorization="
                   class="btn btn-info"><span class="glyphicon glyphicon-save"></span>Download</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="dataTables_paginate paging_bootstrap_number col-md-12"
    style="text-align: center;">
      <pagination-controls (pageChange)="pageChange($event)" autoHide="true" previousLabel="Anterior"
                           nextLabel="Próximo"></pagination-controls>
    </div>
  </div>

    <!--<div class="col-md-12">
    <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Anterior" nextLabel="Próximo">
    </pagination-controls>
  </div>-->

</div>
<ngx-spinner></ngx-spinner>